* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#drop-area::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#drop-area {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body {
  width: 100vw;
  height: 100vh;
  padding: 30px 0;
}

body main {
  border: 1px solid black;
  border-radius: 10px;
  width: 60%;
  height: 100%;
  margin: auto;
  padding: 40px 30px 30px 30px;
}

body main .top-bar .part-name {
  font-size: 25px;
  font-weight: bold;
}

body main .top-bar select {
  float: right;
  font-size: 22px;
  border: none;
  background-color: transparent;
  color: #2660b1;
}

body main .top-bar .delete-btn {
  display: none;
  float: right;
  font-size: 22px;
  color: red;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

body main #drop-area {
  overflow: auto;
  width: 100%;
  max-height: 90%;
  margin-top: 40px;
  border-radius: 10px;
}

body main #drop-area .upload-area {
  min-height: 254px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main #drop-area .upload-area .my-form {
  text-align: center;
}

body main #drop-area .upload-area .my-form .button {
  display: inline-block;
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

body main #drop-area .upload-area .my-form .button:hover {
  background: #ddd;
}

body main #drop-area .upload-area .my-form #fileElem {
  display: none;
}

body main #drop-area div {
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
}

body main #drop-area .imgDiv {
  position: relative;
  min-height: 254px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main #drop-area .imgDiv input[type="checkbox"] {
  display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 5px;
}

body main #drop-area .imgDiv img {
  width: 0;
  height: 30px;
}

@media screen and (max-width: 900px) {
  body main {
    width: 90%;
  }
}

.dashedBorder {
  border: 3px dashed #ccc;
}

.highlight {
  border-color: purple !important;
}

.grid-ctn {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 24% 24% 24% 24%;
      grid-template-columns: 24% 24% 24% 24%;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-row-gap: 15px;
}

.hide {
  display: none;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50% !important;
  border-top: 4px solid #599E99;
  border-right: 4px solid #599E99;
  border-bottom: 4px solid #599E99;
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 0.7s linear infinite;
}

.hoverEffect {
  -webkit-box-shadow: inset 0px 200px 235px -68px rgba(129, 133, 136, 0.73);
          box-shadow: inset 0px 200px 235px -68px rgba(129, 133, 136, 0.73);
}

.hoverEffect input[type="checkbox"] {
  display: block !important;
}

.hoverEffect img {
  width: 30px !important;
}

.invisible {
  visibility: hidden;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */